
body{
	background-image: url("wallpaper.jpg");
	background-size: 100% 300%;
}
#sqdoll{
	/*border-style: solid;*/
	width: 120px;
	height: 120px;
	margin: auto;
	color: white;
	font-size: 24px;
	transform: rotate(180deg);
	background-color: red;
	border-radius: 100%;
}
#plyr p,.plyrs p{
	transform: rotate(180deg);
	text-align: center;
	background-color: white;
	position: relative;
	top: 50px;
	width: fit-content;
	margin: auto;
}
#plyr p{
	background-color: green;
}	 
#plyr,.plyrs{
	/*border-style: solid;*/
	transform: rotate(180deg);
	width: 80px;
	height: 80px;
	position: absolute;
	top: 85%;
	left: 10%;
	/*background-color: rgb(32, 120, 139);*/
	transition-duration: 0.1s;
	border-radius: 100%;
}
#dll{
	transform: rotate(180deg);
}
img{
	width: 100%;
}
#line{
	width: 100%;
	background-color: red;
	height: 10px;
}
@keyframes flipp{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(180deg);
		background-color: red;
	}
}
@keyframes cflipp{
	from{
		transform: rotate(180deg);
	}
	to{
		transform: rotate(0deg);
		background-color: green;
	}
}